:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}



/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
    background-color: rgb(255, 193, 7,0.5);
}

.myButton:hover{
    background-color: #ffc107;
}

.bg-warning{
    background-color: rgb(255, 193, 7,0.5);
}

.bg-warning:hover{
    background-color: #ffc107;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}





/* header */
/* #header{
    background: url(../../../../assets/homeimC.jpg)  top/cover no-repeat;
} */
/* .carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
} */

/* .carousel-item .btn:hover{
    border-color: var(--pink)!important;
} */
.btn1{
    margin: -4px;
    background-color:rgb(255, 193, 7,0.5);
}

.btn2{
    background-color: black;
}
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
        transform: translate(120px,0px);
    }
}


/* about us  */
.about-us{
    background-color: rgb(220,237,242);
}
.about-heading{
    line-height: inherit;
}
/* about us  */

/* workwithus */
.workWithUs{
    background-color: rgb(255, 193, 7,0.5);
}
/* workwithus */


/* services  */
.service{
    color: rgb(255, 193, 7,0.5);
}
.service-p{
    color: rgb(139,139,139);
}
.learnMore{
    background-color:rgb(255, 193, 7,0.5);    
}
/* services  */


/* faq  */
.faq{
    background-color: rgb(255, 193, 7,0.5);
}
.faq-h5{
    color: black;
}
.faq-h3{
    line-height: inherit;
}
.faq-p{
    color: rgb(139,139,139);
}













/* :root
{
    --bs-primary: rgba(95, 5, 255, 1);
    --bs-secondary: rgb(159, 105, 253);serif;
} */

.bg-white
{
    background-color:#ffffff;  
}

.bg-primary
{
    background-color:var(--bs-primary)!important; 
}

.text-primary {
    color: var(--bs-primary)!important;
}




.accordion-item {
    background-color: #fff;
    border: none;
    
}

.accordion-button {
    background-color: #f2F2F2;
    box-shadow: none;
    border:none;
    padding: 20px 50px;
    margin: 4px 0;
}
.accordion-button:not(.collapsed)
{
    border-bottom: 4px solid var(--bs-primary);
    color: var(--bs-primary);
    font-weight: bold;
    background-color: #f2F2F2; 
} 

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}


.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
  
}

/* faq  */


/* form  */
/* .form-home{
    background-color: rgb(255, 193, 7,0.5);
}
.form-home2{
    background-color: black;
    color:white
}
.btn-form{
    color: rgb(139,139,139);
    background-color: rgb(255, 193, 7,0.5);
} */
/* form  */

.carousel-inner{
    height: 670px !important;
}

.carousel-item{
    height: 670px;
}




/* form  */
.formCol-1{
    background-color: rgb(255, 193, 7,0.5);
    
}
.section-border{
display: block;
border-radius: 30px 0 0 30px;
}



.formCol-2{
    background-color: #D4D3D3;
border-radius:0 30px 30px 0;

}
.btn-text{
    color: #008DA9;

}
.btn-text:hover{
    color: #008DA9;
    
}
.btn-2{
    background-color: #008DA9;
    
}
/* form  */
