    <!-- header -->
    <header id = "header" class = "vh-100 "  style = "padding-top: 104px;">
        <div class = "container h-100 d-flex align-items-center carousel-inner">
            <div class = "text-center carousel-item active">
                <h5 class = "text-capitalize text-white">About US</h5>
                <h1 class = "text-uppercase py-2 fw-bold text-white">Keeping Business through <br> payroll solutions </h1>
           
            </div>
        </div>
    </header>
    <!-- end of header -->


<!-- about us  -->
<div class="container">
    <div class="row">
        <div class="my-5 col-md-6">
            <h5 >ABOUT US </h5>
            <h3 class="my-5 about-heading fw-bold display-6">We provide payroll <br> Soluitons for contractors <br> and companies </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae obcaecati quis dicta ea fuga possimus dolorum, assumenda reiciendis rerum, dolor ipsum veritatis commodi iure at sapiente inventore excepturi et nobis, repellat facere quasi cumque amet error delectus? Explicabo officia Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur quam necessitatibus, hic quis, temporibus aperiam earum quo totam commodi tempora adipisci fuga? Asperiores, provident iste amet rerum praesentium iusto? Fuga! deleniti accusamus ipsa impedit. Sint illo maxime labore porro alias odit?</p>
              
            <div class="row">
                <div class="col-md-5">
                    <h5 for="">Compelince </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 lightYellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <h5>Speed</h5>
                    <div class="progress">
                        <div class="progress-bar w-100 lightYellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>

                <div class="col-md-5 my-4">
                    <h5 for="">Informative  </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 lightYellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="offset-md-1 my-4 col-md-5">
                    <h5>Customer Support </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 lightYellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>

            </div>
            <button class="btn btn1  btnAbout rounded-pill text-white my-3 px-5 py-3">More About  </button>
        </div> 


        <div class="col-md-6 my-5 text-center">
            <img class=" image" src="../../../../assets/logo.png" width="300px" height="300px" alt="">
            <div class="my-5 mt-5">
                <div class="bg-warning" style="height: 300px; width:200px; display: inline-block"></div>
                <div class="darkYellow" style="height: 300px; width:200px; display: inline-block"></div>
                <div class="lightYellow" style="height: 300px; width:200px; display: inline-block"></div>
            </div>
   


        
        </div>
    .
    </div>
<hr>

</div>
<!-- about us end  -->



<!-- our approach -->
<div class="container ">
    <div class="row">
      <h2 class="approach-h2 my-5 fw-bold display-6">Our Approach</h2>
      <div class="col-md-4 mt-5">
        <h6 class="approach-h6 ">STEP 1</h6>
        <h5 class="approach-h5 mt-5">REVIEW</h5>
        <p class="mt-4">Our Team will review your current incoming and payment structure.</p>
      </div>
      <div class="col-md-4  mt-5">
        <h6 class="approach-h6 ">STEP 2</h6>
        <h5 class="approach-h5 mt-5">CONSULT </h5>
        <p class="mt-4">We advise a carefully considered action plan; this plan will provide you with a comprehensive cover..</p>
      </div>
      <div class="col-md-4 mt-5">
        <h6 class="approach-h6 ">STEP 3</h6>
        <h5 class="approach-h5 mt-5">IMPLEMENT</h5>
        <p class="mt-4">We will process all your paperwork and regular payments as agreed. Providing you with full updates and regular payments</p>
      </div>

    </div>
</div>
<!-- our approach end  -->


<!-- why should choose   -->
<div class="chooseContainer mt-5 text-center container-fluid">
    <div class="row ">
        <h5 class="chooseh5 mt-5 display-6">WHY YOU SHOULD CHOOSE SERVICES</h5>
        <div class="col-md-4">
         <h5 class="chooseh5 mt-4 py-3">SUPPORT</h5>
         <p class="text-white mt-4">We are committed to offering you a complete service that will assist you even when you are not at work Lorem ipsum dolor sit amet consectetur adipisicing elit. Error consectetur amet itaque voluptates laborum exercitationem obcaecati labore ipsam veritatis sint?.</p>
        </div>
        <div class="col-md-4">
            <h5 class="chooseh5 mt-4 py-3">COMPLAINCE</h5>
            <p class="text-white mt-4">You wont have to worry about anything since we ensure that our services meet all industry requirements Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores, laborum ad reiciendis cumque sapiente eaque sed sequi consequuntur necessitatibus!.</p>
           </div>
           <div class="col-md-4">
            <h5 class="chooseh5 mt-4 py-3">EXPERTISE</h5>
            <p class="text-white mt-4" >For almost 20 years, we ve been providing professional and competent accountancy and umbrella employment solutions. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nesciunt perferendis veniam minima tempore sint tempora consequatur nobis hic voluptate? .</p>
           </div>
    </div>
</div>
<!-- why should choose   -->


<!-- new to contracting  -->
<div class="container-fluid mt-5">
    <div class="row">
        <h6 class="contract-h6 mt-5">NEW TO CONTRACTING </h6>
        <h2 class="mt-4 fw-bold display-5">Considering Self-Employment?</h2>
        <div class="mt-5 col-md-12">
            <img class="rounded-3 img-fluid" src="../../../../assets/aboutpage.jpg" alt="">
            <p class="mt-4 contract-p">Contracting may be an exciting and demanding new career route, but it can also be intimidating. It has the ability to provide you with new opportunities and revenue streams while also supporting you in increasing your industry knowledge and abilities.</p>
        </div>
        
        <div class="col-md-6">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Work Flexibly</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Be HAPPY</a></span>
        </div>
        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3 ">Be independent</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p  mx-3">Make the descions </a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class=" contract-p mx-3">Stay in control</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Earn what you deserve</a></span>
        </div>

    </div>
<button class="px-3 py-3 my-3 text-white btn rounded-pill btn-discover">Discover Your options</button>
</div>
<!-- new to contracting end -->




<div class="contianer- text-center">
    <div class="row  offset-md-3 row-bg justify-content-between">
        
<div class="col-md-3"> 
    <div class="card-body">
        <div class="card-image">
            <img  class="" height="200px" width="200px"  src="../../../../assets/Ltd-icon.png" alt="">
        </div>
        <div class="card-title">
            <h5>PAYE UMBRELLA</h5>
        </div>
        <div class="card-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, recusandae.</p>
        </div>
    </div>
</div>

<div class="ms-5 col-md-3">
    <div class="card-body">
        <div class="card-image">
            <img  class="" src="../../../../assets/Handshake.png"  height="200px" width="200px" alt="">
        </div>
        <div class="card-title">
            <h5>PAYE UMBRELLA</h5>
        </div>
        <div class="card-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, recusandae.</p>
        </div>
    </div>
</div>



<div class="ms-5 col-md-3">
    <div class="card-body">
        <div class="card-image">
            <img  class="" src="../../../../assets/umbrella-icon.png" height="200px" width="200px"  alt="">
        </div>
        <div class="card-title">
            <h5>PAYE UMBRELLA</h5>
        </div>
        <div class="card-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, recusandae.</p>
        </div>
    </div>
</div>






    </div>
</div>





