<!-- header -->
<header id="header" style="padding-top: 104px;">
  <div class="container h-100 d-flex align-items-center carousel-inner">
    <div class="text-center carousel-item active">
      <h5 class="text-capitalize text-white">Explore We Offer </h5>
      <h1 class="text-uppercase py-2 fw-bold text-white">Services </h1>
    </div>
  </div>
</header>
<!-- end of header -->

<br><br><br>

<div class="container">
  <h4 class="text-center">How We Work</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline2">
        <div class="timeline">
          <span class="icon fa fa-globe"></span>
          <a class="timeline-content">
            <h3 class="title">Web Designer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-rocket"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-briefcase"></span>
          <a class="timeline-content">
            <h3 class="title">Web Designer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- service start  -->
<div class="service  container my-5">
  <div class="row">
    <div class="col-md-6 mt-5 py-5">
      <h2 class="text-white">OUR SERVICE </h2>
      <h3 class="display-4 fw-bold service-h3">Peace of mind for Contractors</h3>
    </div>
    <div class="col-md-6 mt-5 py-5">
      <p class="text-white">Contracting may be an exciting and demanding new career route, but it can also be
        intimidating. It has the ability to provide you with new opportunities and revenue streams while also supporting
        you in increasing your industry knowledge and abilities. Our services are set up to ensure you get the Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Accusamus illo numquam quos odit, eaque neque nostrum nihil
        explicabo eius corrupti natus sapiente. Quisquam vel repudiandae aperiam cupiditate asperiores possimus, veniam
        ad nobis provident alias vero nulla unde deserunt illo error adipisci blanditiis culpa sequi voluptate rerum
        accusantium sed laudantium atque! most out of your money with the best solutions, whether you are just getting
        started or are an experienced contractor.</p>
    </div>
  </div>
  <div class="row text-center text-white">
    <div class="col-md-4">
      <div class="card ">
        <div class="card_image"> <img src="../../../../assets/s1.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card_image"> <img src="../../../../assets/s2.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card_image"> <img src="../../../../assets/s3.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card_image"> <img src="../../../../assets/s3.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card_image"> <img src="../../../../assets/s3.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card_image"> <img src="../../../../assets/s3.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- service end -->


<!-- benefits of service   -->
<div class="container-md conatiner-sm conatiner-lg  mt-5 py-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 my-5 py-5 text-center">
      <h1 class="service">Some of Our Clients</h1>
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png"class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2 ">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>

  </div>
</div>

<!-- benefits of service   -->