  <!-- header -->
  <header id = "header" style = "padding-top: 104px;">
    <div class = "container h-100 d-flex align-items-center carousel-inner">
        <div class = "text-center carousel-item active">
            <h5 class = "text-capitalize text-white">Get IN TOUCH </h5>
            <h1 class = "text-uppercase py-2 fw-bold text-white">Contact </h1>
       
        </div>
    </div>
</header>
<!-- end of header -->

<!-- contact us start  -->
<h5 class="text-center my-5">Where are we situated ?</h5>
<div class="container-fluid my-5 d-flex justify-content-center">
  <div class="map">
  </div>
</div>
<!-- contact us end -->






<div class="container-fluid d-flex justify-content-center">
  <div class="wrapper bg-warning">
    <div class="header">
      <h1>Contact us</h1>
      <p>Do you have a question? Send us a message and we will respond as soon as possible.</p>
    </div>
    <form>
      <h4>Name</h4>
      <input type="text" name="name">
      <h4>Email</h4>
      <input type="text" name="email">
      <h4>Message</h4>
      <textarea></textarea>
      <button>Send</button>
    </form>
  </div>
</div>






