   <!-- navbar -->
   <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 ">
    <div class = "container">
        <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0"  routerLink="home">
            <img class="h-25 w-25" src="../../../../assets/logo.png" alt="">
        </a>
        <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
            <ul class = "navbar-nav mx-auto text-center">
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" routerLink="home">home</a>
                </li>
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark"  routerLink="service">Services</a>
                </li>
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark"  routerLink="contact">Contact Us</a>
                </li>
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" routerLink="about" >About Us</a>
                </li>
                <li class = "nav-item px-2 py-2">
                    <a class="btn1 rounded-pill text-white my-3 px-5 py-3">+92312467876</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of navbar -->